<div class="home_container">
<app-card
  gameCover="assets/bt-5.png"
  gameLabel="Digital"
  gameType="Atari Digital"
  gamePrice="R$ 1500,00"
>
</app-card>

<app-card
  gameCover="assets/bt-5.png"
  gameLabel="Exclusivo"
  gameType="Atari Old"
  gamePrice="R$2500,00"
>
</app-card>

<app-card
  gameCover="assets/bt-5.png"
  gameLabel="Exclusivo"
  gameType="Atari Old"
  gamePrice="R$2500,00"
>
</app-card>

<app-card
  gameCover="assets/bt-5.png"
  gameLabel="Exclusivo"
  gameType="Atari Old"
  gamePrice="R$2500,00"
>
</app-card>

<app-card
  gameCover="assets/bt-5.png"
  gameLabel="Exclusivo"
  gameType="Atari Old"
  gamePrice="R$2500,00"
>
</app-card>

<app-card
  gameCover="assets/bt-5.png"
  gameLabel="Exclusivo"
  gameType="Atari Old"
  gamePrice="R$2500,00"
>
</app-card>

</div>